extends layout 

block content 
    section(class='item text-center')
        h2 Name : #{item.name}
        p.h3 Price : #{item.price}$
        p.h4 Description : #{item.description}
        p.h4 In stock : #{item.num_in_stock}